<template>
    <section class="content">
        <div class="row container">
            <div class="col-auto ml-auto">
                 <button @click="print" class="button is-text">Imprimir</button>
            </div>
        </div>
        <div ref="documentToPrint">
            <div class="row pt-2 pb-4 justify-content-center">
                <div class="col-1">
                    <figure class="image is-56x56">
                    <img src="~/assets/logo.png">
                    </figure>
                </div>
                <div class="col-3">
                    <div class="row justify-content-center">
                        <p><strong>ESCUELA PROFESIONAL DE INGENIERÍA DE {{$route.params.escuela.toUpperCase()}} - FISI</strong></p>
                    </div>
                    <div class="row justify-content-center">
                        <p><strong>PROGRAMACIÓN ACADÉMICA</strong></p>
                    </div>
                    <div class="row justify-content-center">
                        <p>SEMESTRE ACADÉMICO {{getHorarios($route.params.escuela)[0].semestre}}</p>
                    </div>
                </div>    
            </div>
            <template v-for="horariosCiclo in getHorarios($route.params.escuela)[0].ciclos">
                <div class="container pb-5" :key="horariosCiclo._id">
                    <div class="row has-background-warning justify-content-center">
                        <p><strong>CICLO {{horariosCiclo.title}}</strong></p>
                    </div>
                    <template v-for="horariosCurso in horariosCiclo.cursos">
                        <div :key="horariosCurso.id">
                            <div class="row">
                                <div :key="planes.id" v-for="(planes,index) in horariosCurso.planes">
                                    <p class="pt-4"><strong>{{index!=0?'&nbsp; /':''}} ({{planes.title}}) {{planes.nombreCurso}}</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <p class="col-9 ml-n3"><strong>Coordinador del curso: {{horariosCurso.coordinador}}</strong></p>
                                <div style="margin-bottom:-0.05rem;background-color:#99ddc8;" class="border-top border-left border-right border-dark ml-3 col-3 d-flex align-items-center justify-content-center"><p class="is-size-5"><strong>PLANES</strong></p></div>
                            </div>
                            <div class="row">
                                <div class="col-1 has-background-grey-lighter h-50 border-left border-top border-dark border-right text-center"><strong>GRUPO</strong></div>
                                <div class="col-auto has-background-grey-lighter h-50 border-top border-dark text-center"><strong>T</strong></div>
                                <div class="col-1 has-background-grey-lighter h-50 border-right border-left border-top border-dark text-center"><p style="margin-right:-1rem;" class="ml-n1 "><strong>DIA</strong></p></div>
                                <div class="col-2 has-background-grey-lighter h-50 text-center border-dark border-top"><p style="width:69%;" class="ml-n2 border-dark  border-right"><strong>HORARIO</strong></p></div>
                                <div class="col has-background-grey-lighter h-50 border-dark border-top"><p style="margin-left:10rem;"><strong>DOCENTE</strong></p></div>
                                <div class="col-3">
                                    <div style="height:63%;" class="row has-background-grey-lighter text-center">
                                        <template v-for="(planes,index6) in arrayPlanes">
                                            <p :key="index6" :style="index6==0?'margin-bottom:0.9rem':'margin-bottom:0.9rem;'" :class="index6==0?'col border-dark border':'border-dark border-top border-bottom col border-right'"><strong>{{planes}}</strong></p>
                                        </template>
                                    </div>
                                </div>
                            </div>
                            <div :class="index1==0?'row mt-n3 border-left border-right border-bottom border-dark align-items-center':'row pt-3 border-dark border-bottom border-left border-right mt-n3 align-items-center'" :key="index1" v-for="(horarioGrupo,index1) in horariosCurso.grupos">
                                <div style="margin-right:-0.1rem;margin-top:-1rem;padding-top:0.6rem;" :class="index1==0?'col-1 text-center border-dark border-top':'col-1 text-center border-bottom'">
                                    <p>{{horarioGrupo.title}}</p>
                                </div>
                                <div class="col">
                                    <div class="row border-dark border-left" :key="index" v-for="(tipoHorario,index) in horarioGrupo.horario">
                                        <div :class="index==0?(index1==0?'col-auto border-dark border-top':'col-auto'):'col-auto border-dark border-top'">
                                            <p :style="tipoHorario.titulo=='L'?'margin-left:0.1rem;':''">{{tipoHorario.titulo}}</p>
                                        </div>
                                        <div :class="index==0?'col-1 border-left border-dark text-center':'col-1 border-dark border-left text-center'">
                                            <p :class="index==0?(index1==0?'ml-n3 border-right border-top border-dark':'ml-n3 border-right border-dark'):'ml-n3 border-dark border-right border-top'" style="margin-right:-3.25rem;">{{tipoHorario.dia}}</p>
                                        </div>
                                        <div style="margin-left:3rem;;margin-right:-1.5rem;" class="col-1 text-center">
                                            <p :class="index==0?(index1==0?'border-top border-dark':''):'border-top border-dark'" style="margin-left:-2rem;">{{tipoHorario.horaInicio &lt; 10?'0':''}}{{tipoHorario.horaInicio}}:00</p>
                                        </div>
                                        <div :class="index==0?(index1==0?'col-1 ml-1 border-left border-dark border-top text-center':'col-1 ml-1 border-left border-dark text-center'):'border-top col-1 ml-1 border-left border-dark text-center'">
                                            <p>{{tipoHorario.horaFinal &lt; 10 ?'0':''}}{{tipoHorario.horaFinal}}:00</p>
                                        </div>
                                        <div style="margin-bottom:-0.05rem;margin-right:-0.1rem;" :class="index!=(horarioGrupo.horario.length-1)?(index1==0?'col text-center border border-dark':'col text-center border-right border-left border-bottom border-dark'):'col border-dark text-center border-right border-left'">
                                            <p style="margin-left:-3rem;">{{tipoHorario.profesor}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="row">
                                        <div :key="index3" v-for="(planes1,index3) in arrayPlanes">
                                            <div :style="index3==0?'padding-bottom:2rem;margin-left:4.1rem;':'padding-bottom:3rem;margin-left:4.1rem;padding-left:5rem;'" :class="index3==0?'col':'col border-dark border-left'">
                                                <template v-if="horariosCurso.planes.filter(plan=>plan.title==planes1).length!=0">
                                                    <p style="margin-left:-0.1rem;padding-top:0.7rem;margin-bottom:-3rem;">{{horariosCurso.planes.filter(plan=>plan.title==planes1)[0].vacantes[horarioGrupo.title.slice(-1)-1]}}</p>
                                                </template>
                                                <template v-else>
                                                    <p style="padding-top:0.6rem;margin-left:0.1rem;margin-bottom:-5rem;">-</p>
                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </template>
        </div>
    </section>
</template>

<script>
import { mapGetters } from 'vuex';
import Vue from 'vue';
import VueHtml2Canvas from 'vue-html2canvas';
import jsPDF from 'jspdf'; 
import printjs from 'print-js';

Vue.use(VueHtml2Canvas);

export default {
    computed: {
        ...mapGetters({
            getHorarios: 'getHorariosXCiclos'
        })
    },
    data(){
        return {
            arrayPlanes: []
        }
    },
    methods:{
        async print(){
            const el = this.$refs.documentToPrint;
            const options = {type: 'dataURL'};
            let docToPrint = await this.$html2canvas(el, options);
            let doc = new jsPDF('p','mm','a4');
            doc.addImage(docToPrint, 'JPEG', 0, 5, 214, 288);
            doc.autoPrint();
            doc.output('dataurlnewwindow');
        }
    },
    async created(){
        const res = await fetch('http://localhost:3000/api/horarios/planes/'+this.$route.params.escuela);
        this.arrayPlanes = await res.json();

    }
}

</script>