<template>
    <section class="content">
        <div class="row mt-3 justify-content-center">
            <h1>CONSOLIDADO DE HORARIOS</h1>
        </div>
        <div class="row mt-3 justify-content-center align-items-center">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Escuela:</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <b-select v-model="escuelaSelect" placeholder="SISTEMAS">
                                <option
                                    v-for="option in escuelas"
                                    :value="option"
                                    :key="option">
                                    {{ option.toUpperCase() }}
                                </option>
                            </b-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 justify-content-center">
            <button @click="$router.push('/consolidado/'+escuelaSelect)" class="button ml-3 is-black">CONSULTAR</button>
        </div>
    </section>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    data(){
        return {
            escuelaSelect:null
        }
    },
    computed: {
        ...mapGetters({
            escuelas: 'getEscuelas'
        })
    }
}
</script>

