
/* -------------------------------- 
  
  Main Components 
  
  -------------------------------- */
  .cd-schedule {
    position: relative;
    margin: 2em 0;
  }
  
  .cd-schedule::before {
    /* never visible - this is used in js to check the current MQ */
    content: 'mobile';
    display: none;
  }
  
  @media only screen and (min-width: 800px) {
    .cd-schedule {
      width: 90%;
      max-width: 1400px;
      margin: 2em auto;
    }
    .cd-schedule::after {
      clear: both;
      content: "";
      display: block;
    }
    .cd-schedule::before {
      content: 'desktop';
    }
  }
  
  .cd-schedule .timeline {
    display: none;
  }
  
  @media only screen and (min-width: 800px) {
    .cd-schedule .timeline {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding-top: 50px;
    }
    .cd-schedule .timeline li {
      position: relative;
      height: 50px;
    }
    .cd-schedule .timeline li::after {
      /* this is used to create the table horizontal lines */
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: #EAEAEA;
    }
    .cd-schedule .timeline li:last-of-type::after {
      display: none;
    }
    .cd-schedule .timeline li span {
      display: none;
    }
  }
  
  @media only screen and (min-width: 1000px) {
    .cd-schedule .timeline li::after {
      width: calc(100% - 60px);
      left: 60px;
    }
    .cd-schedule .timeline li span {
      display: inline-block;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
    }
    .cd-schedule .timeline li:nth-of-type(2n) span {
      display: inline-block;
    }
  }
  
  .cd-schedule .events {
    position: relative;
    z-index: 1;
  }
  
  .cd-schedule .events .events-group {
    margin-bottom: 30px;
  }
  
  .cd-schedule .events .top-info {
    width: 100%;
    padding: 0 5%;
  }
  
  .cd-schedule .events .top-info > span {
    display: inline-block;
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .cd-schedule .events .events-group > ul {
    position: relative;
    padding: 0 5%;
    /* force its children to stay on one line */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  .cd-schedule .events .events-group > ul::after {
    /* never visible - used to add a right padding to .events-group > ul */
    display: inline-block;
    content: '-';
    width: 1px;
    height: 100%;
    opacity: 0;
    color: transparent;
  }
  
  .cd-schedule .events .single-event {
    /* force them to stay on one line */
    -ms-flex-negative: 0;
        flex-shrink: 0;
    float: left;
    height: 150px;
    width: 70%;
    max-width: 300px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    -webkit-transition: opacity .2s, background .2s;
    transition: opacity .2s, background .2s;
  }
  
  .cd-schedule .events .single-event:last-of-type {
    margin-right: 5%;
  }
  
  .cd-schedule .events .single-event a {
    display: block;
    height: 100%;
    padding: .8em;
  }
  
  @media only screen and (min-width: 550px) {
    .cd-schedule .events .single-event {
      width: 40%;
    }
  }
  
  @media only screen and (min-width: 800px) {
    .cd-schedule .events {
      float: left;
      width: 100%;
    }
    .cd-schedule .events .events-group {
      width: 15%;
      float: left;
      border: 1px solid #EAEAEA;
      /* reset style */
      margin-bottom: 0;
    }
    .cd-schedule .events .events-group:not(:first-of-type) {
      border-left-width: 0;
    }
    .cd-schedule .events .top-info {
      /* vertically center its content */
      display: table;
      height: 50px;
      border-bottom: 1px solid #EAEAEA;
      /* reset style */
      padding: 0;
    }
    .cd-schedule .events .top-info > span {
      /* vertically center inside its parent */
      display: table-cell;
      vertical-align: middle;
      padding: 0 .5em;
      text-align: center;
      /* reset style */
      font-weight: normal;
      margin-bottom: 0;
    }
    .cd-schedule .events .events-group > ul {
      height: 950px;
      /* reset style */
      display: block;
      overflow: visible;
      padding: 0;
    }
    .cd-schedule .events .events-group > ul::after {
      clear: both;
      content: "";
      display: block;
    }
    .cd-schedule .events .events-group > ul::after {
      /* reset style */
      display: none;
    }
    .cd-schedule .events .single-event {
      position: absolute;
      z-index: 3;
      /* top position and height will be set using js */
      width: calc(100% + 2px);
      left: -1px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), inset 0 -3px 0 rgba(0, 0, 0, 0.2);
      /* reset style */
      -ms-flex-negative: 1;
          flex-shrink: 1;
      height: auto;
      max-width: none;
      margin-right: 0;
    }
    .cd-schedule .events .single-event a {
      padding: 1.2em;
    }
    .cd-schedule .events .single-event:last-of-type {
      /* reset style */
      margin-right: 0;
    }
    .cd-schedule .events .single-event.selected-event {
      /* the .selected-event class is added when an user select the event */
      visibility: hidden;
    }
  }
  
  @media only screen and (min-width: 1000px) {
    .cd-schedule .events {
      /* 60px is the .timeline element width */
      width: calc(100% - 60px);
      margin-left: 60px;
    }
  }
  
  .cd-schedule.loading .events .single-event {
    /* the class .loading is added by default to the .cd-schedule element
         it is removed as soon as the single events are placed in the schedule plan (using javascript) */
    opacity: 0;
  }
  
  .cd-schedule .event-name,
  .cd-schedule .event-curso {
    display: block;
    color: white;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .cd-schedule .event-name-big{
    display: block;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .cd-schedule .event-resumen-curso {
    display: block;
    color: white;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .cd-schedule .event-profesor {
    display: block;
    color: white;
    /* font-weight: bold; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .cd-schedule .event-resumen-profesor {
    display: block;
    color: white;
    /* font-weight: bold; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .cd-schedule .event-name {
    font-size: 1.2rem;
  }

  .cd-schedule .event-name-big {
    font-size: 0.85rem;
  }
  
  @media only screen and (min-width: 800px) {
    .cd-schedule .event-name {
      font-size: 1rem;
    }
  }
  
  .cd-schedule .event-curso {
    /* they are not included in the the HTML but added using JavScript */
    font-size: 1.25rem;
    opacity: .7;
    line-height: 1.2;
    margin-bottom: .2em;
  }

  .cd-schedule .event-profesor {
    /* they are not included in the the HTML but added using JavScript */
    font-size: 0.75rem;
    opacity: .7;
    line-height: 1.2;
    margin-bottom: .2em;
  }

  .cd-schedule .event-resumen-profesor {
    /* they are not included in the the HTML but added using JavScript */
    font-size: 0.75rem;
    opacity: .7;
    line-height: 1.2;
    margin-bottom: .2em;
  }

  .cd-schedule .event-resumen-curso {
    /* they are not included in the the HTML but added using JavScript */
    font-size: 1rem;
    opacity: .7;
    line-height: 1.2;
    margin-bottom: .2em;
  }
  
  .cd-schedule .single-event[data-event="event-1"],
  .cd-schedule [data-event="event-1"] .header-bg {
    /* this is used to set a background color for the event and the modal window */
    background: #577F92;
  }
  
  .cd-schedule .single-event[data-event="event-1"]:hover {
    background: #618da1;
  }
  
  .cd-schedule .single-event[data-event="event-2"],
  .cd-schedule [data-event="event-2"] .header-bg {
    background: #88c97d;
  }
  
  .cd-schedule .single-event[data-event="event-2"]:hover {
    background: #9fdf94;
  }

  .cd-schedule .single-event[data-event="event-3"],
  .cd-schedule [data-event="event-3"] .header-bg {
    background: #ffa44e;
  }
  
  .cd-schedule .single-event[data-event="event-3"]:hover {
    background: #ffb168;
  }

  .cd-schedule .single-event[data-event="event-4"],
  .cd-schedule [data-event="event-4"] .header-bg {
    background: #443453;
  }
  
  .cd-schedule .single-event[data-event="event-4"]:hover {
    background: #513e63;
  }
  
  .cd-schedule .single-event[data-event="event-5"],
  .cd-schedule [data-event="event-5"] .header-bg {
    background: #a39696;
  }
  
  .cd-schedule .single-event[data-event="event-5"]:hover {
    background: #b8a7a7;
  }
  
  .cd-schedule .single-event[data-event="event-6"],
  .cd-schedule [data-event="event-6"] .header-bg {
    background: #ee8282;
  }
  
  .cd-schedule .single-event[data-event="event-6"]:hover {
    background: #e6a2a2;
  }

  .cd-schedule .single-event[data-event="event-7"],
  .cd-schedule [data-event="event-7"] .header-bg {
    background: #a4dde0;
  }
  
  .cd-schedule .single-event[data-event="event-7"]:hover {
    background: #d8eff0;
  }
  
  .cd-schedule .single-event[data-event="event-8"],
  .cd-schedule [data-event="event-8"] .header-bg {
    background: #226b80;
  }
  
  .cd-schedule .single-event[data-event="event-8"]:hover {
    background: #5293a5;
  }

  .cd-schedule .single-event[data-event="event-9"],
  .cd-schedule [data-event="event-9"] .header-bg {
    background: #fdff90;
  }
  
  .cd-schedule .single-event[data-event="event-9"]:hover {
    background: #feffb4;
  }

  .cd-schedule .single-event[data-event="event-10"],
  .cd-schedule [data-event="event-10"] .header-bg {
    background: #5de964;
  }
  
  .cd-schedule .single-event[data-event="event-10"]:hover {
    background: #74e67a;
  }