<template>
    <div class="d-flex flex-column justify-content-center">
        <div class="field mb-n1">
            <div class="row justify-content-center">
                <label class="label">Eliga qué es lo que desea agregar</label>
            </div>
            <div class="row justify-content-center">
                <b-select class="" placeholder="Eliga un campo ..." v-model="toAdd">
                    <option 
                        v-for="option in dataAdd"
                        :key="option.state"
                        :value="option.state"
                    >
                        {{option.title}}
                    </option>
                </b-select>
            </div>
        </div>
        <hr/>
        <template v-if="toAdd==1">
            <p>test1</p>
        </template>
        <template v-else-if="toAdd==2">
            <p>test2</p>
        </template>
        <template v-else-if="toAdd==3">
            <p>test3</p>
        </template>
        <template v-else-if="toAdd==4">
            <div class="row justify-content-center">
                <p class="help">Ingrese los datos del grupo a agregar</p>
            </div>
            <div class="d-flex justify-content-around">
                <div class="d-flex p-3">
                    <div class="field">
                        <label class="label">Escuela del grupo</label>
                        <div class="row justify-content-center">
                            <b-select class="" placeholder="Eliga una escuela ..." v-model="escuela">
                                <option 
                                    v-for="option in escuelas"
                                    :key="option"
                                    :value="option"
                                >
                                    {{option.toUpperCase()}}
                                </option>
                            </b-select>
                        </div>
                    </div>
                </div>
                <div class="d-flex p-3">
                    <div v-if="escuela!=null" class="field">
                        <label class="label">Ciclo del grupo</label>
                        <div class="row justify-content-center">
                            <b-select class="" placeholder="Eliga un ciclo ..." v-model="ciclo">
                                <option 
                                    v-for="option in cicloEscuela(escuela)"
                                    :key="option"
                                    :value="option"
                                >
                                    {{option}}
                                </option>
                            </b-select>
                        </div>
                    </div>
                </div>
                <div class="d-flex p-3">
                    <div v-if="ciclo!=null" class="field">
                        <label class="label">Curso del grupo</label>
                        <div class="row justify-content-center">
                            <b-select class="" placeholder="Eliga un curso ..." v-model="curso">
                                <option 
                                    v-for="(option,index) in cursosCicloEscuela(escuela,ciclo)"
                                    :key="index"
                                    :value="option"
                                >
                                    {{option}}
                                </option>
                            </b-select>
                        </div>
                    </div>
                </div>
            </div>
            <Hr/>
            <div v-if="curso!=null">
                <div class="d-flex mt-n4 align-items-center">
                    <p class="has-background-warning ">Crearemos el siguiente grupo:</p>
                    <label class="has-background-warning pl-2 mt-2 label">GRUPO {{gruposCicloEscuelaCurso(escuela,ciclo,curso).length+1}}</label>
                </div>
                <div class="box">
                    <form @submit.prevent="addGrupo('clases')" data-vv-scope="clases">
                        <p class="mt-n2 pb-2 help">Completa los siguientes campos:</p>
                        <div class="form-row align-items-center">
                            <div class="col-2">
                                <b-field label="Tipo de clase" :type="{'is-danger': errors.has('clases.tipo')}">
                                    <b-select placeholder="Teoría" name="tipo" v-validate="'required'" v-model="tipoClase">
                                        <option value="T">TEORÍA</option>
                                        <option value="P">PRÁCTICA</option>
                                        <option value="L">LABORATORIO</option>
                                    </b-select>
                                </b-field>
                            </div>
                            <div class="col-2">
                                <b-field label="Hora de Inicio" :type="{'is-danger': errors.has('clases.hInicio')}">
                                    <b-input name="hInicio" v-validate="`required|integer|min_value:8|max_value:21`" v-model="hInicio"></b-input>
                                </b-field>
                            </div>
                            <div class="col-2">
                                <b-field label="Hora de Fin" :type="{'is-danger': errors.has('clases.hFin')}">
                                    <b-input name="hFin" v-validate.disable="`required|integer|max_value:22|min_value:${Number(hInicio)+1}`" v-model="hFin"></b-input>
                                </b-field>
                            </div>
                            <div class="col-2">
                                <b-field label="Dia de clase" :type="{'is-danger': errors.has('clases.diaClase')}">
                                    <b-select name="diaClase" v-validate="'required'" v-model="diaClase" placeholder="LUNES">
                                        <option v-for="(option,index) in diaClaseArray" :value="option" :key="index">
                                            {{option}}
                                        </option>
                                    </b-select>
                                </b-field>
                            </div>
                            <div class="col-3">
                                <b-field label="Profesor de clase" :type="{'is-danger': errors.has('clases.profClase')}">
                                    <b-input name="profClase" v-validate="'required|alpha_spaces'" v-model="profClase"></b-input>
                                </b-field>
                            </div>
                            <div class="col-1 mt-4">
                                <button type="submit" class="button border-0">
                                    <b-icon icon="plus-circle"></b-icon>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p v-if="errors.first('clases.tipo')" class="help is-danger">Este campo es requerido</p>
                            </div>
                            <div class="col-2">
                                <p v-if="errors.first('clases.hInicio')" class="help is-danger">{{errors.firstByRule('clases.hInicio', 'required')?'Este campo es requerido':(errors.firstByRule('clases.hInicio','integer')?'Tienes que ingresar un número':(errors.firstByRule('clases.hInicio','integer')?'Tienes que ingresar un número':errors.firstByRule('clases.hInicio','min_value')?'Tiene que ser mayor a 7':'Tiene que ser menor a 22'))}}</p>
                            </div>
                            <div class="col-2">
                                <p v-if="errors.first('clases.hFin')" class="help is-danger">{{errors.firstByRule('clases.hFin', 'required')?'Este campo es requerido':(errors.firstByRule('clases.hFin', 'integer')?'Tienes que ingresar un número':(errors.firstByRule('clases.hFin', 'min_value')?'Tiene que ser mayor a la hora de Inicio':'Tiene que ser menor a 23'))}}</p>
                            </div>
                            <div class="col-2">
                                <p v-if="errors.first('clases.diaClase')" class="help is-danger">Este campo es requerido</p>
                            </div>
                            <div class="col-3">
                                <p v-if="errors.first('clases.profClase')" class="help is-danger">{{errors.firstByRule('clases.profClase', 'required')?'Este campo es requerido':'Tienes que ingresar letras'}}</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box">
                    <form @submit.prevent="addGrupo('vacantes')"  data-vv-scope="vacantes">
                        <div class="row">
                            <div class="col-4">
                                <p><strong>Completa las vacantes para cada plan:</strong></p>
                            </div>
                            <div class="col-2" :key="index1" v-for="(plan,index1) in planesCicloEscuelaCurso(escuela,ciclo,curso)">
                                <b-field horizontal :label="plan" :type="{'is-danger': errors.has(`vacantes.vacantes${index1}`)}">
                                    <b-input :name="`vacantes${index1}`" v-validate="'required|integer|min_value:0'" v-model="vacantesGrupo[index1]"></b-input>
                                </b-field>
                                <p v-if="errors.first(`vacantes.vacantes${index1}`)" class="help is-danger">{{errors.firstByRule(`vacantes.vacantes${index1}`, 'required')?'Este campo es requerido':errors.firstByRule(`vacantes.vacantes${index1}`, 'integer')?'Tienes que ingresar números':'Tiene que ser mayor a 0'}}</p>
                            </div>
                            <div class="col-1">
                                <button type="submit" class="button border-0">
                                    <b-icon icon="plus-circle"></b-icon>
                                    <span>Definir vacantes</span>
                                </button>
                            </div>        
                        </div>
                    </form>
                </div>
                <div class="box">
                    <div class="columns">
                        <div class="column is-4">
                            <p class="mt-n2 pb-2 help"><strong>Agregaremos el G{{gruposCicloEscuelaCurso(escuela,ciclo,curso).length+1}}</strong> al curso de <strong>{{curso}}</strong>:</p>
                        </div>
                        <div class="column is-offset-4 is-4">
                            <div class="columns">
                                <div :key="index" v-for="(plan,index) in planesCicloEscuelaCurso(escuela,ciclo,curso)">
                                    <p><strong>{{index==0?``:`&nbsp;|&nbsp;`}} Vacantes {{plan}}: {{vacantesGrupoTA.length==0?'':vacantesGrupoTA[index].vacantes}}</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8 offset-2">
                            <b-table
                                :data="grupoToAdd"
                                bordered
                                striped
                            >
                                <template slot-scope="props">
                                    <b-table-column field="tipoClase" label="T" centered>
                                        {{props.row.titulo}}
                                    </b-table-column>
                                    <b-table-column field="dia" label="DÍA" centered>
                                        {{props.row.dia}}
                                    </b-table-column>
                                    <b-table-column field="horario" label="HORARIO" centered>
                                        {{Number(props.row.horaInicio) &lt; 10?`0${props.row.horaInicio}`:props.row.horaInicio}}:00 - {{Number(props.row.horaFinal) &lt; 10?`0${props.row.horaFinal}`:props.row.horaFinal}}:00
                                    </b-table-column>
                                    <b-table-column field="docente" label="DOCENTE" centered>
                                        {{props.row.profesor}}
                                    </b-table-column>
                                    <b-table-column field="delete" label="ACCIÓN" centered>
                                        <button @click="deleteGrupoToAdd(props.row.tipo)" class="button is-small border-0">
                                            <b-icon icon="close-circle"></b-icon>
                                        </button>
                                    </b-table-column>
                                </template>
                            </b-table>
                            <div class="pt-2 has-text-centered">
                                <button @click="submit('grupo')" class="button is-dark">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </template>
    </div>
</template>

<script>
import {mapGetters,mapActions} from 'vuex';
import Vue from 'vue';
import VeeValidate from 'vee-validate';
Vue.use(VeeValidate, {
    events: ''
});

export default {
    data(){
        return {
            // search:false,
            escuela: null,
            ciclo:null,
            curso:null,
            dataAdd: [{state:1,title:'ESCUELA'},{state:2,title:'CICLO'},{state:3,title:'CURSO'},{state:4,title:'GRUPO'}],
            diaClaseArray: ['LUNES','MARTES','MIÉRCOLES','JUEVES','VIERNES','SÁBADO'],
            toAdd: null,
            tipoClase:null,
            hFin:null,
            hInicio:null,
            diaClase:null,
            profClase:null,
            vacantesGrupo:[],
            grupoToAdd:[],
            vacantesGrupoTA:[]
        }
    },
    computed:{
        ...mapGetters({
            escuelas: 'getEscuelas',
            cicloEscuela: 'getCiclosXEscuela',
            cursosCicloEscuela: 'getCursosXCicloXEscuela',
            gruposCicloEscuelaCurso: 'getGruposXCiclosXEscuelaXCurso',
            planesCicloEscuelaCurso: 'getPlanesXCicloXEscuelaXCurso',
            /* gruposPlanesCicloEscuela: 'getGruposXPlanesXCiclosXEscuela', */
        })
    },
    methods:{
        addGrupo(val){
            this.$validator.validateAll(val).then(result=>{
                if(result){
                    if(val=='clases'){
                        if(this.grupoToAdd.filter(hora=>hora.titulo==this.tipoClase).length==0){
                            let arr = this.grupoToAdd.filter(hora=>hora.dia==this.diaClase)
                            if(arr.length==0){
                                this.grupoToAdd.push({titulo:this.tipoClase,horaInicio:this.hInicio,horaFinal:this.hFin,dia:this.diaClase,profesor:this.profClase});
                                this.tipoClase=null;
                                this.hInicio=null;
                                this.hFin=null;
                                this.diaClase=null;
                                this.profClase=null;
                            } else {
                                if(Number(this.hInicio)<Number(arr[0].horaInicio)){
                                    if(Number(this.hFin)<=Number(arr[0].horaInicio)){
                                        this.grupoToAdd.push({titulo:this.tipoClase,horaInicio:this.hInicio,horaFinal:this.hFin,dia:this.diaClase,profesor:this.profClase});
                                        this.tipoClase=null;
                                        this.hInicio=null;
                                        this.hFin=null;
                                        this.diaClase=null;
                                        this.profClase=null;
                                    } else {
                                        this.$swal({
                                            type:'error',
                                            title:'Cruce de horario',
                                            text: `Hay un cruce de horario con la clase de ${arr[0].tipo=='T'?'Teoría':arr[0].tipo=='L'?'Laboratorio':'Práctica'} en la hora de ${arr[0].horaInicio}-${arr[0].horaFinal}`
                                        })
                                    }
                                } else {
                                    if(Number(this.hInicio)>=Number(arr[0].horaFinal)){
                                        this.grupoToAdd.push({titulo:this.tipoClase,horaInicio:this.hInicio,horaFinal:this.hFin,dia:this.diaClase,profesor:this.profClase});
                                        this.tipoClase=null;
                                        this.hInicio=null;
                                        this.hFin=null;
                                        this.diaClase=null;
                                        this.profClase=null;
                                    } else {
                                        this.$swal({
                                            type:'error',
                                            title:'Cruce de horario',
                                            text: `Hay un cruce de horario con la clase de ${arr[0].tipo=='T'?'Teoría':arr[0].tipo=='L'?'Laboratorio':'Práctica'} en la hora de ${arr[0].horaInicio}-${arr[0].horaFinal}`
                                        })            
                                    }
                                }
                            }
                            this.$validator.pause();
                            return;
                            
                        } else {
                            this.$swal({
                                type:'error',
                                title:'Tipo de clase ya existe',
                                text: `Ya se ingresó una clase de ${this.tipoClase=='T'?'Teoría':this.tipoClase=='L'?'Laboratorio':'Práctica'}`
                            })
                        }
                    } else {
                        let planesArray = this.planesCicloEscuelaCurso(this.escuela,this.ciclo,this.curso)
                        let arrayTMS = []
                        for(let index in planesArray){
                            arrayTMS.push({plan:planesArray[index],vacantes:this.vacantesGrupo[index]})
                        }
                        this.vacantesGrupoTA=arrayTMS.slice();    
                    }
                    this.$validator.pause();
                    return;
                }
                this.$swal({
                    toast:true,
                    position:'top',
                    showConfirmButton: false,
                    timer: 2500,
                    type: 'error',
                    title: 'Por favor, revisa los campos.'
                })
            })
        },
        deleteGrupoToAdd(val){
            this.grupoToAdd=this.grupoToAdd.filter(clase=>clase.tipo!=val)
        },
        async submit(val){
            if(val=='grupo'){
                if(this.grupoToAdd.length!=0 && this.vacantesGrupoTA.length!=0){
                    let dataToSend = {
                        escuela: this.escuela,
                        ciclo: this.ciclo,
                        curso:  this.curso,
                        vacantes: this.vacantesGrupoTA,
                        grupo: {
                            title: `G${this.gruposCicloEscuelaCurso(this.escuela,this.ciclo,this.curso).length+1}`,
                            horario: this.grupoToAdd
                        }
                    }
                    const res = await fetch('/api/horarios/addGrupo',{
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        method: 'POST',
                        body: JSON.stringify(dataToSend)
                    });
                    this.grupo = await res.json();
                    this.$swal({
                        toast:true,
                        position:'top',
                        showConfirmButton: false,
                        timer: 2500,
                        type: 'success',
                        title: 'Grupo agregado con éxito'
                    })
                    this.grupoToAdd=[];
                    this.vacantesGrupoTA=[];
                    this.vacantesGrupo=[];
                    this.updateHorariosLast();
                } else {
                    this.$swal({
                        toast:true,
                        position:'top',
                        showConfirmButton: false,
                        timer: 2500,
                        type: 'error',
                        title: `Por favor, estos campos no pueden estar vacíos: ${this.grupoToAdd.length==0?'Horario del grupo':''} ${this.vacantesGrupoTA.length==0?'Vacantes del grupo':''} `
                    })
                }
            }
        },
        ...mapActions({
            updateHorariosLast: 'updateHorarios'
        })
    },
    watch:{
        escuela(oldVal,newVal){
            this.ciclo=null,
            this.curso=null
        },
        ciclo(oldVal,newVal){
            this.curso=null
        },
        toAdd(oldVal,newVal){
            this.escuela=null;
            this.ciclo=null;
            this.curso=null;
        },
        curso(oldVal,newVal){
            this.grupoToAdd=[];
            this.vacantesGrupoTA=[];
            this.vacantesGrupo=[];
        }
    }
}
</script>
