<template>
    <div class="d-flex" style="display:flex;">
        <!-- <div class="card profesor" style="flex-basis: 15%;flex-grow: 0;"> -->
        <div class="card profesor" style="width:20rem;height:30rem;">
            <img :src="profesor.img==undefined?'/img/profesores/defaultMan.png':profesor.img" class="card-img-top px-1">
            <div class="card-body">
                <h5 class="is-size-4 card-title text-center"><strong>{{profesor.nombre}}</strong></h5>
                <p class="card-text text-center my-3">{{profesor.detalle}}</p>
                <p class="card-text text-right text-muted"><small>{{profesor.correo}}</small></p>
            </div>
        </div>
        <!-- <div class="card curso" style="flex-basis: 20%;flex-grow: 0;"> -->
        <div class="card curso" style="width:30rem;">
            <div class="card-body">
                <h1 class="card-title is-size-2 text-center"><strong>{{curso.title}}</strong></h1>
                <h3 class="card-subtitle mb-5 text-muted text-center">{{curso.tipoCurso.toUpperCase()}}</h3>
                <p class="card-text">{{curso.descripcion}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">Vacantes: {{curso.vacantes}}</li>
            </ul>
        </div>
    </div>
</template>

<script>


export default {
    props:['profesor','curso'],
    methods:{
        onFocusOut(event){
            this.$parent.close()
        }
    },
    mounted(){
        document.addEventListener('focusout',this.onFocusOut);
    }
}
</script>