<template>
    <div class="d-flex flex-column content justify-content-center">
        <div class="field mb-n1">
            <div class="row justify-content-center">
                <label class="label">Eliga qué es lo que desea eliminar</label>
            </div>
            <div class="row justify-content-center">
                <b-select class="" placeholder="Eliga un campo ..." v-model="toAdd">
                    <option 
                        v-for="option in dataAdd"
                        :key="option.state"
                        :value="option.state"
                    >
                        {{option.title}}
                    </option>
                </b-select>
            </div>
        </div>
        <hr/>
        <template v-if="toAdd==1">
            <p>test1</p>
        </template>
        <template v-else-if="toAdd==2">
            <p>test2</p>
        </template>
        <template v-else-if="toAdd==3">
            <p>test3</p>
        </template>
        <template v-else-if="toAdd==4">
            <div class="row justify-content-center">
                <p class="help">Ingrese los datos del grupo a eliminar</p>
            </div>
            <div class="d-flex justify-content-around">
                <div class="d-flex p-3">
                    <div class="field">
                        <label class="label">Escuela del grupo</label>
                        <div class="row justify-content-center">
                            <b-select class="" placeholder="Eliga una escuela ..." v-model="escuela">
                                <option 
                                    v-for="option in escuelas"
                                    :key="option"
                                    :value="option"
                                >
                                    {{option.toUpperCase()}}
                                </option>
                            </b-select>
                        </div>
                    </div>
                </div>
                <div class="d-flex p-3">
                    <div v-if="escuela!=null" class="field">
                        <label class="label">Ciclo del grupo</label>
                        <div class="row justify-content-center">
                            <b-select class="" placeholder="Eliga un ciclo ..." v-model="ciclo">
                                <option 
                                    v-for="option in cicloEscuela(escuela)"
                                    :key="option"
                                    :value="option"
                                >
                                    {{option}}
                                </option>
                            </b-select>
                        </div>
                    </div>
                </div>
                <div class="d-flex p-3">
                    <div v-if="ciclo!=null" class="field">
                        <label class="label">Curso del grupo</label>
                        <div class="row justify-content-center">
                            <b-select class="" placeholder="Eliga un curso ..." v-model="curso">
                                <option 
                                    v-for="(option,index) in cursosCicloEscuela(escuela,ciclo)"
                                    :key="index"
                                    :value="option"
                                >
                                    {{option.nombre}} - {{option.plan}}
                                </option>
                            </b-select>
                        </div>
                    </div>
                </div>
            </div>
            <Hr/>
            <div v-if="curso!=null">
                <div class="row mt-n2 justify-content-center">
                    <h4 class="has-background-warning">{{curso.nombre}}</h4>
                </div>
                <div class="d-flex mt-n2 mb-2 align-items-center">
                    <p>Eliga el grupo que desea eliminar</p>
                </div>
                <div class="border border-dark row has-background-grey-lighter container">
                    <div class="col-1 text-center d-flex align-items-center justify-content-center">
                        <strong>GRUPO</strong>
                    </div>
                    <div class="col-10">
                        <div class="row">
                            <div class="col-2 border-left border-dark border-right d-flex align-items-center justify-content-center">
                                <strong>TIPO</strong>
                            </div>
                            <div class="col-1 text-center d-flex align-items-center justify-content-center ">
                                <strong>HORA INICIO</strong>
                            </div>
                            <div class="col-1 border-left border-dark text-center border-right  d-flex align-items-center justify-content-center ">
                                <strong>HORA FINAL</strong>
                            </div>
                            <div class="col-2 text-center  d-flex align-items-center justify-content-center">
                                <strong>DÍA</strong>
                            </div>
                            <div class="col border-left border-dark text-center border-right  d-flex align-items-center justify-content-center ">
                                <strong>PROFESOR</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div :key="index" v-for="(horarioECC,index) in scheduleGrupo(escuela,ciclo,curso.nombre).grupos" class="container row border-dark border-bottom border-left border-right">
                    <div class="col-1 d-flex align-items-center justify-content-center">
                        <p>{{horarioECC.title}}</p>
                    </div>
                    <div class="col-10">
                        <div :class="index1==0?'row':'row border-top border-dark'" :key="index1" v-for="(horarioTipo,index1) in horarioECC.horario">
                            <div class="col-2 pl-2 border-dark border-left border-right text-center">
                                {{horarioTipo.titulo=='T'?'Teoría':(horarioTipo.titulo=='P'?'Práctica':'Laboratorio')}}
                            </div>
                            <div class="col-1 text-center">
                                {{horarioTipo.horaInicio}}
                            </div>
                            <div class="col-1 text-center border-dark border-left border-right">
                                {{horarioTipo.horaFinal}}
                            </div>
                            <div class="col-2 text-center">
                                {{horarioTipo.dia}}
                            </div>
                            <div class="col border-left text-center border-dark border-right">
                                {{horarioTipo.profesor}}
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-auto">
                        <button style="margin-left:2rem;margin-top:1rem;" @click="borrarGrupo(horarioECC._id)" class="delete bg-danger"></button>
                    </div>
                </div>
                <b-loading :active.sync="isLoading"></b-loading>
            </div>  
        </template>
    </div>
</template>

<script>
import {mapGetters,mapActions} from 'vuex'

export default {
    data(){
        return {
            // search:false,
            escuela: null,
            ciclo:null,
            curso:null,
            dataAdd: [{state:1,title:'ESCUELA'},{state:2,title:'CICLO'},{state:3,title:'CURSO'},{state:4,title:'GRUPO'}],
            toAdd: null,
            toAddTitle: null,
            isLoading: false,
        }
    },
    computed:{
        ...mapGetters({
            escuelas: 'getEscuelas',
            cicloEscuela: 'getCiclosXEscuela',
            cursosCicloEscuela: 'getCursosXCicloXEscuela1',
            gruposCicloEscuelaCurso: 'getGruposXCiclosXEscuelaXCurso',
            scheduleGrupo: 'getHorariosXEscuelaXCicloXGrupo'
        })
    },
    methods:{
        ...mapActions({
            updateHorario: 'updateHorarios'
        }),
        async borrarGrupo(val){
            this.isLoading=true;
            const groupRes = await fetch('/api/horarios/grupo/' + val, {
                method: 'DELETE',
                headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({escuela:this.escuela,ciclo:this.ciclo})
            });
            this.updateHorario();
            this.isLoading=false;
            const groupDeleted = await groupRes.json();
            this.$swal({
                toast:true,
                position:'top',
                showConfirmButton:false,
                timer:2500,
                type:'success',
                title:'Grupo borrado'
            })
        }
    },
    watch:{
        escuela(oldVal,newVal){
            this.ciclo=null,
            this.curso=null
        },
        ciclo(oldVal,newVal){
            this.curso=null
        },
        toAdd(oldVal,newVal){
            this.escuela=null;
            this.ciclo=null;
            this.curso=null;
        }
    }
}
</script>
