<template>
    <div class="d-flex flex-column justify-content-center">
        <div class="field">
            <label class="label">Eliga la escuela que quieras buscar</label>
            <div class="row justify-content-center">
                <b-select class="" placeholder="Eliga una escuela ..." v-model="escuela">
                    <option 
                        v-for="option in escuelas"
                        :key="option.id"
                        :value="option"
                    >
                        {{option}}
                    </option>
                </b-select>
            </div>
        </div>
        
        <!-- <div class="field">
            <label class="label">Eliga el ciclo que quiera buscar</label>
        </div> -->
        <hr/>
        <div class="row justify-content-center">
            <button class="btn btn-dark">
                Buscar
            </button>
        </div>
        <div class="row justify-content-center"><p class="help">Presiona cuando deseas buscar</p></div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
    data(){
        return {
            search:false,
            escuela: null
        }
    },
    computed:{
        ...mapGetters({
            escuelas: 'getEscuelas',
        })
    }
}
</script>

