<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <nuxt-link class="navbar-brand text-white align-items-center" :to="{name:'index'}">HORARIOS - TM</nuxt-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <nuxt-link class="nav-item nav-link text-white" :to="{name:'index'}">Ver horarios</nuxt-link>
          <nuxt-link class="nav-item nav-link text-white" :to="{name:'consolidado'}">Ver Programa</nuxt-link>
          <nuxt-link class="nav-item nav-link text-white" :to="{name:'gestion'}">Manejar horarios</nuxt-link>
          <nuxt-link class="nav-item nav-link text-white" :to="{name:'nuevociclo'}">Iniciar nuevo ciclo</nuxt-link>
        </div>
      </div>
    </nav>
    <nuxt/>
  </div>
</template>