<template>
    <section class="container pt-3">
        <div class="d-flex justify-content-center">
            <div class="field">
                <label class="label">Eliga qué operación desea realizar</label>
                <div class="row justify-content-center">
                    <b-select class="" placeholder="Eliga una acción..." v-model="accionState">
                        <option 
                            v-for="option in accion"
                            :key="option.state"
                            :value="option.state"
                        >
                        {{option.title}}
                        </option>
                    </b-select>
                </div>
            </div>
        </div>
        <hr/>
        <div class="d-flex justify-content-center">
            <template v-if="accionState==1">
                <add-horario/>
            </template>
            <template v-else-if="accionState==2">
                <edit-horario/>
            </template>
            <template v-else-if="accionState==3">
                <delete-horario/>
            </template>
        </div>
    </section>
</template>

<script>
import addHorario from '~/components/addHorario';
import editHorario from '~/components/editHorario';
import deleteHorario from '~/components/deleteHorario';

export default {
    data(){
        return {
            accion: [{state:1,title:'AÑADIR HORARIO'},{state:2,title:'EDITAR HORARIO'},{state:3,title:'ELIMINAR HORARIO'}],
            accionState: null
        }
    },
    components:{
        'add-horario': addHorario,
        'edit-horario': editHorario,
        'delete-horario': deleteHorario
    },
    methods:{

    },
    destroyed(){
        this.accionState=null
    }
}
</script>

