<template>
  <section>
    <div class="d-flex flex-column align-items-center pt-1">
      <p><strong>SEMESTRE {{getSemestre}}</strong></p>
      <h2 class="is-size-4"><strong>ESCUELA {{getEscuela}} - PLAN {{plan}}</strong></h2>
      <h2 class="is-size-5"><strong>CICLO {{ciclo}} - GRUPO {{getGrupo}}</strong></h2>
    </div>
    <div class="d-flex flex-row-reverse mt-n5 mr-4">
      <nuxt-link class="btn btn-dark" :to="{name:'index'}">Regresar</nuxt-link>
    </div>
    <div v-if="isDone==true">
      <div class="cd-schedule loading">
        <div class="timeline">
          <ul>
            <li :key="n" v-for="n in 15">
              <template v-if="n<3">
                <span>0{{n+7}}:00</span>
              </template>
              <template v-else>
                <span>{{n+7}}:00</span>
              </template>
            </li>
          </ul>
        </div>
        <div class="events">
          <ul>
            <li class="events-group" :key="n" v-for="n in dias">
              <div class="top-info"><span>{{n}}</span></div>
              <ul>
                <template v-for="(horario,index) in schedule1">
                  <template v-if="horario.dia==n">
                    <div :key="index" @click="dataModal({nombre:horario.profesor},{title:horario.nombreCurso,tipoCurso:horario.tipoCurso,vacantes:horario.vacantes[getGrupo-1]})">
                      <li class="single-event" :data-start="horario.horaInicio" :data-end="horario.horaFinal" :data-event="eventType[horario.nombreCurso]" :data-profesor="horario.profesor" :data-curso="horario.tipoCurso">
                        <em v-if="horario.nombreCurso.length<20" class="text-center event-name">{{horario.nombreCurso}}</em>
                        <em v-if="horario.nombreCurso.length>=20 && (horario.horaFinal.slice(0,2)-horario.horaInicio.slice(0,2))>1" class="text-center event-name">{{horario.nombreCurso}}</em>
                        <em v-if="horario.nombreCurso.length>=20 && (horario.horaFinal.slice(0,2)-horario.horaInicio.slice(0,2))==1" class="text-center event-name-big">{{horario.nombreCurso}}</em>
                        <p  v-if="(horario.horaFinal.slice(0,2)-horario.horaInicio.slice(0,2))>1" class="1 text-center"></p>
                        <p v-if="(horario.horaFinal.slice(0,2)-horario.horaInicio.slice(0,2))>1" class="2 text-center"></p>
                        <p v-if="(horario.horaFinal.slice(0,2)-horario.horaInicio.slice(0,2))==1" class="3"></p>
                      </li>
                    </div>
                  </template>
                </template>
              </ul>
            </li>
          </ul>      
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState,mapGetters } from 'vuex'
import cursoModal from '~/components/Curso'

export default {
    head(){
        return{
        link:[
            { rel: 'stylesheet', href: '/css/style.css'}
        ],
        script: [
            { src: '/js/main.js', body: true }
        ]
        }
    },
    asyncData({store}){
      let schedule = store.getters.getSchedule(store.state.horario.escuela,store.state.horario.ciclo,store.state.horario.plan,store.state.horario.grupo);
      let i=1,eventType=[];
      for(let index in schedule){
        if(!eventType.hasOwnProperty(schedule[index].nombreCurso)){
          eventType[schedule[index].nombreCurso]=`event-${i}`
          i++
        }
      }
      return {schedule1:schedule,eventType:eventType}
    },
    data(){
      return{
        dias: ['LUNES','MARTES','MIÉRCOLES','JUEVES','VIERNES','SÁBADO'],
        schedule: [],
        eventType: {},
        isDone: false
      }
    },
    methods:{
      dataModal(profesor,curso){
        this.$modal.open({parent:this,component:cursoModal,hasModalCard:true,props:{profesor,curso}})
      }
    },
    computed:{
      ...mapState({
        escuela: state => state.horario.escuela,
        ciclo: state => state.horario.ciclo,
        plan: state => state.horario.plan,
        grupo: state => state.horario.grupo
      }),
      ...mapGetters({
        getEscuela: 'horario/getEscuela',
        getGrupo: 'horario/getGrupo',
        getSchedule: 'getSchedule',
        getSemestre: 'getSemestre'
      })
    },
    beforeMount(){
      this.$nextTick(() => {
        this.isDone=true
      })
    }

}
</script>
