<template>
  <div class="container pt-5">
    <div class="row">
      <div class="col-3">
        <div class="field">
          <label class="label">Escoge una escuela:</label>
          <div class="control">
              <b-select v-model="escuelaSelect" placeholder="SISTEMAS">
                  <option
                      v-for="option in escuelas"
                      :value="option"
                      :key="option">
                      {{ option.toUpperCase() }}
                  </option>
              </b-select>
          </div>
        </div>
      </div>
      <div class="col-3">
        <template v-if="escuela">
          <div class="field">
            <label class="label">Escoge un ciclo:</label>
            <div class="control">
                <b-select v-model="cicloSelect" placeholder="6">
                    <option
                        v-for="option in cicloEscuela(escuela)"
                        :value="option"
                        :key="option">
                        {{ option }}
                    </option>
                </b-select>
            </div>
          </div>
        </template>
      </div>
      <div class="col-3">
        <template v-if="ciclo">
          <div class="field">
            <label class="label">Escoge un plan:</label>
            <div class="control">
                <b-select v-model="planSelect" placeholder="2009">
                    <option
                        v-for="option in planesCicloEscuela(escuela,ciclo)"
                        :value="option"
                        :key="option">
                        {{ option }}
                    </option>
                </b-select>
            </div>
          </div>
        </template>
      </div>
      <div class="col-3">
        <template v-if="plan">
          <div class="field">
            <label class="label">Escoge un grupo:</label>
            <div class="control">
                <b-select v-model="grupoSelect" placeholder="G2">
                    <option
                        v-for="option in gruposPlanesCicloEscuela(escuela,ciclo,plan)"
                        :value="option"
                        :key="option">
                        {{ option }}
                    </option>
                </b-select>
            </div>
          </div>
        </template>
      </div>
    </div>
    <div class="d-flex pt-4 justify-content-center">
      <template v-if="escuelas.lenght==0" >
        <p class="help text-danger">No existe una escuela al momento</p>
      </template>
      <template v-else-if="cicloEscuela(escuela)==undefined?false:cicloEscuela(escuela).lenght==0" >
        <p class="help text-danger">No existe un ciclo para esta escuela</p>
      </template>
      <template v-else-if="planesCicloEscuela(escuela,ciclo)==undefined?false:planesCicloEscuela(escuela,ciclo).lenght==0">
        <p class="help text-danger">No existe un plan para este ciclo</p>
      </template>
      <template v-else-if="gruposPlanesCicloEscuela(escuela,ciclo,plan)==undefined?false:gruposPlanesCicloEscuela(escuela,ciclo,plan).lenght==0">
        <p class="help text-danger">No existe un grupo para este plan</p>
      </template>    
    </div>
    <div class="d-flex pt-4 justify-content-center">
      <nuxt-link class="btn btn-dark" :to="{name:'horario'}">Obtener Horario</nuxt-link>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState, mapMutations } from 'vuex'

export default {
  computed:{
    ...mapGetters({
      escuelas: 'getEscuelas',
      cicloEscuela: 'getCiclosXEscuela',
      planesCicloEscuela: 'getPlanesXCicloXEscuela',
      gruposPlanesCicloEscuela: 'getGruposXPlanesXCiclosXEscuela',
      scheduleCursos: 'getSchedule'
    }),
    ...mapState({
      escuela: state => state.horario.escuela,
      ciclo: state => state.horario.ciclo,
      plan: state => state.horario.plan,
      grupo: state => state.horario.grupo
    }),
    escuelaSelect:{
      get(){
        return this.escuela
      },
      set(value){
        this.updateEscuela(value)
      }
    },
    cicloSelect:{
      get(){
        return this.ciclo
      },
      set(value){
        this.updatePlan(null)
        this.updateCiclo(value)
        this.updateGrupo(null)
      }
    },
    planSelect:{
      get(){
        return this.plan
      },
      set(value){
        this.updateGrupo(null)
        this.updatePlan(value)
      }
    },
    grupoSelect:{
      get(){
        return this.grupo
      },
      set(value){
        this.updateGrupo(value)
      }
    }
  },
  methods:{
    ...mapMutations({
      updateEscuela: 'horario/updateEscuela',
      updateCiclo: 'horario/updateCiclo',
      updatePlan: 'horario/updatePlan',
      updateGrupo: 'horario/updateGrupo'
    })
  }
}
</script>